<div class="row">
    <div class="col-md-3">
    	<table class="table">
    		<!-- ユーザーネイムが登録されていたらユーザーネイムを表示させたい -->
    	    <tr><th><%= @user.user_name %></th></tr>

    	    <!-- image画像 -->
    	    <tr><th><%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "150x150", class: "rounded-circle" %></th></tr>

    	    <!-- 自己紹介 -->
    	    <tr><th><%= @user.introduction %></th></tr>

    	    <!-- ウェブサイト -->
    	    <tr><th><%= link_to @user.website, @user.website %></th></tr>
        </table>

        <!-- 編集ページ　リンク -->
        <%= link_to 'プロフィール編集', edit_user_path(@user.id), class: " button_custom btn btn-success" %>

    </div>

</div>