    <% @posts.each do |post| %>

        <div class="col-md-4 left-box mt-5">

            <div class="country-name">
                <% if post.country == "国内" %>
                    <img src="/assets/japan.png" alt="ロゴ" width="200" height="100">
                <% else %>
                    <img src="/assets/world.png" alt="ロゴ" width="200" height="100">
                <% end %>
            </div>

            <div class="day">
                <h3>Went to the day/日程</h3>
                <% if post.start_date and post.finish_date %>
                    <p><%= post.start_date.strftime('%Y/%m/%d') %> ~ <%= post.finish_date.strftime('%Y/%m/%d') %></p>
                <% end %>
                </p>
            </div>

            <div class="price">
                <h3>Price/費用</h3>
                <% if post.price %>
                    <p><%= post.price.to_s(:delimited) %>円</p>
                <% end %>
            </div>

        </div>

        <div class="col-md-8 right-box mt-5">

            <div class="box-text">
                <h2><%= link_to post.place, post_path(post.id) %></h2>
                <p class="mt-3"><%= post.body %></p>
            </div>

            <% post.post_images.each do |postimage| %>
            <div class="box-main">
                <div class="image_list mt-3">
                    <%= attachment_image_tag postimage, :image, format: 'jpeg', fallback: "noimg.jpg", size: "180x180" %>
                </div>
            </div>
            <% end %>

            <div class="box-footer">

                <div id="post_comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                <%= link_to new_post_post_comment_path(post.id), remote: true do %>
                    <i class="far fa-comment-alt"></i>
                    <%= post.post_comments.count %>
                <% end %>

                <label id="favorite-<%= post.id %>">
                    <%= render 'shared/favorite', {post: post} %>
                </label>

                <%= link_to edit_post_path(post.id) do %>
                    <i class="fas fa-cog"></i>
                <% end %>

                <%= link_to post_path(post.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>

            </div>

        </div>

    <% end %>