<div class="row">
	<div class="col-md-10 offset-1">
		<div class="heading">
			<div class="heading-text">DM</div>
			<h3>
				<% if @another_user.account_name.present? %>
		            <%= link_to @another_user.account_name, user_path(@another_user.id) %>
		        <% else %>
		            <%= link_to @another_user.user_name, user_path(@another_user.id) %>
		        <% end %>
			</h3>
			<div>
				<%= attachment_image_tag @another_user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "200x200", class: "rounded-circle" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 offset-1">
		<% @room.direct_messages.each do |dm| %>

		    <% if dm.user_id %>
	    	    <div class="current-dm col-4 offset-7">
	    		    <%= dm.message %>
		   	    </div>
		   	<% else %>
		   	    <div class="another-dm col-4 offser-1">
	    		    <%= dm.message %>
		   	    </div>
		   	<% end %>

	    <% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-6 offset-6 dm-form">
		<%= form_for(@direct_message, url: direct_messages_path, html: {method: :post}) do |f| %>
		    <%= f.text_field :message, size: "20x10" %>
		    <%= f.hidden_field :room_id, value: @room.id %>
		    <%= f.submit '送信' %>
		<% end %>
	</div>
</div>