<div class="row">
	<div class="col-10 offset-1">
		<div class="heading">
			<h1 class="heading-text">Take a looking</h1>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-8">
    <% @posts.each do |post| %>
        <div class="box">
            <div class="box-top">
                <%= attachment_image_tag post.user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "100x100", class: "rounded-circle" %><br>

                <% if post.user.account_name %>
		            <%= link_to post.user.account_name, user_path(post.user) %>
		        <% else %>
		            <%= link_to post.user.user_name, user_path(post.user) %>
		        <% end %>
            </div>

            <div class="box-text">
                <h2><%= post.country %></h2>
                <h3><%= link_to post.place, post_path(post.id) %></h3>
                <p><%= post.body %></p>
                <% post.tags.each do |tag| %>
                    <%= link_to "# #{tag.tag_name}", posts_path(tag_search: tag.id) %>
                <% end %>
            </div>

            <% post.post_images.each do |postimage| %>
            <div class="box-main">
                <%= attachment_image_tag postimage, :image, format: 'jpeg', fallback: "noimg.jpg", size: "724x300" %>
            </div>
            <% end %>

            <div class="box-footer">
                <div id="post_comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                <%= link_to new_post_post_comment_path(post.id), remote: true do %>
                    <i class="far fa-comment-alt"></i>
		            <%= post.post_comments.count %>
                <% end %>
                <label id="favorite-<%= post.id %>">
		        	<%= render 'shared/favorite', {post: post} %>
		        </label>
            </div>

        </div>
    <% end %>
    </div>


    <div class="col-md-4">
    	<div class="box">
    		<h5 class="box-search">Search</h5>
    	    <div class="search">
    	    	<%= form_tag(posts_path, method: :get) do %>
		            <%= text_field_tag(:search) %><%= submit_tag "検索", class: "search-btn" %>
		        <% end %>
		    </div>
		    <div class="search-footer">
		    	<% @tags.each do |tag| %>
		            <%= link_to "# #{tag.tag_name} (#{tag.posts.count}) ", posts_path(tag_search: tag.id) %>
		        <% end %>
		    </div>
	    </div>
    </div>
</div>