<div class="row">
	<div class="col-10 offset-1">
		<div class="heading">
			<h1 class="heading-text">Take a looking</h1>
		</div>
	</div>
</div>

<div class="row mt-5">
    <div class="favorite-rank col-md-12">R A N K I N G</div>
    <% @ranks.each.with_index(1) do |rank_post,i| %>
        <div class="box col-md-4">
            <div class="box-search"><h5><%= i %>位</h5></div>
            <div class="box-top">
                <%= attachment_image_tag rank_post.user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "60x60", class: "rounded-circle" %><br>
                <% if rank_post.user.account_name.present? %>
                    <%= link_to "@#{rank_post.user.account_name}",user_path(rank_post.user) %>
                <% else %>
                    <%= link_to rank_post.user.user_name, user_path(rank_post.user) %>
                <% end %>
            </div>
            <div class="box-text">
                <%= link_to rank_post.place, post_path(rank_post) %>
            </div>
            <% rank_post.post_images.each do |postimage| %>
            <div class="box-main">
                <div class="image_list mt-3">
                    <%= attachment_image_tag postimage, :image, format: 'jpeg', fallback: "noimg.jpg", size: "91x91" %>
                </div>
            </div>
            <% end %>
            <div class="box-footer">
                <i class="fas fa-crown" style="color: gold;"></i>  
                <%= rank_post.favorites.count %>
            </div>
        </div>
    <% end %>
    <div class="col-md-8">
    <% @posts.each do |post| %>
        <div class="box">
            <div class="box-top">
                <%= attachment_image_tag post.user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "100x100", class: "rounded-circle" %><br>

                <% if post.user.account_name.present? %>
		            <%= link_to "@#{post.user.account_name}", user_path(post.user) %>
		        <% else %>
		            <%= link_to post.user.user_name, user_path(post.user) %>
		        <% end %>
            </div>

            <div class="box-text">
                <% if post.country == "国内" %>
                    <!-- <img src="/assets/japan.png" alt="国内" width="200" height="100"> -->
                    <%= image_tag asset_path("japan.png", alt: "国内 "), class: "japan-image" %>
                <% else %>
                    <!-- <img src="/assets/world.png" alt="海外" width="200" height="100"> -->
                    <%= image_tag asset_path("world.png", alt: "国内"), class: "world-image" %>
                <% end %>
                <h3><%= link_to post.place, post_path(post.id) %></h3>
                <p><%= post.body %></p>
                <p class="datatime"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                <% post.tags.each do |tag| %>
                    <%= link_to "# #{tag.tag_name}", posts_path(tag_search: tag.id) %>
                <% end %>
            </div>

            <% post.post_images.each do |postimage| %>
            <div class="box-main">
                <div class="image_list mt-3">
                    <%= attachment_image_tag postimage, :image, format: 'jpeg', fallback: "noimg.jpg", size: "218x218" %>
                </div>
            </div>
            <% end %>

            <div class="box-footer">
                <div id="post_comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                <%= link_to new_post_post_comment_path(post.id), remote: true do %>
                    <i class="far fa-comment-alt"></i>
		            <%= post.post_comments.count %>
                <% end %>
                <label id="favorite-<%= post.id %>">
		        	<%= render 'shared/favorite', {post: post} %>
		        </label>
            </div>

        </div>
    <% end %>
    </div>


    <div class="col-md-4">
        <div class="box">
            <h5 class="box-search">Place Search</h5>
            <div class="search">
                <%= form_tag(posts_path, method: :get) do %>
                    <%= text_field_tag(:post_search) %><%= submit_tag "検索", class: "search-btn" %>
                <% end %>
            </div>
        </div>

    	<div class="box">
    		<h5 class="box-search">Tag Search</h5>
    	    <div class="search">
    	    	<%= form_tag(posts_path, method: :get) do %>
		            <%= text_field_tag(:search) %><%= submit_tag "検索", class: "search-btn" %>
		        <% end %>
		    </div>
		    <div class="search-footer">
		    	<% @tags.each do |tag| %>
		            <%= link_to "# #{tag.tag_name} (#{tag.posts.count}) ", posts_path(tag_search: tag.id) %>
		        <% end %>
		    </div>
	    </div>
    </div>
</div>