<div class="row">
	<div class="col-12">
		<div class="heading">
			<h1 class="heading-text">Write by <%= @post.user.user_name %></h1>
		</div>
	</div>
</div>

<div class="box">
	<div class="row">

        <div class="col-md-4 left-box">

            <div class="country-name">
                <h2><%= @post.country %></h2>
            </div>

            <div class="post-user">
                <%= attachment_image_tag @post.user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "100x100", class: "rounded-circle" %><br>

                <% if @post.user.account_name %>
		            <%= link_to @post.user.account_name, user_path(@post.user) %>
		        <% else %>
		            <%= link_to @post.user.user_name, user_path(@post.user) %>
		        <% end %>
            </div>

            <div class="day">
                <h3>Went to the day/日程</h3>
                <% if @post.start_date and @post.finish_date %>
                    <p><%= @post.start_date.strftime('%Y/%m/%d') %> ~ <%= @post.finish_date.strftime('%Y/%m/%d') %></p>
                <% end %>
                </p>
            </div>

            <div class="price">
                <h3>Price/費用</h3>
                <% if @post.price %>
                    <p><%= @post.price.to_s(:delimited) %>円</p>
                <% end %>
            </div>

        </div>

        <div class="col-md-8 right-box">

            <div class="box-text">
                <h2><%= link_to @post.place, post_path(@post.id) %></h2>
                <h3><%= @post.body %></h3>
            </div>

            <% @post.post_images.each do |postimage| %>
            <div class="box-main">
                <div class="image_list">
                    <%= attachment_image_tag postimage, :image, format: 'jpeg', fallback: "noimg.jpg", size: "180x180" %>
                </div>
            </div>
            <% end %>

            <div class="box-footer">

                <div id="post_comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                <%= link_to new_post_post_comment_path(@post.id), remote: true do %>
                    <i class="far fa-comment-alt"></i>
                    <%= @post.post_comments.count %>
                <% end %>

                <label id="favorite-<%= @post.id %>">
                    <%= render 'shared/favorite', {post: @post} %>
                </label>

                <%= link_to edit_post_path(@post.id) do %>
                    <i class="fas fa-cog"></i>
                <% end %>

                <%= link_to post_path(@post.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>

            </div>

        </div>
    </div>

</div>

<div class="row">

    <div class="col-10 offset-2">

		<table class="table table-borderless">
			<!-- postに対してのコメント一覧 -->
			<% @post_comments.each do |post_comment| %>
			    <tr>
			    	<th>
			    		<%= attachment_image_tag post_comment.user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "80x80", class: "rounded-circle" %><br>
			    		<%= post_comment.user.account_name %>
			    	</th>
			    	<td>
			    		<%= post_comment.comment %>
			    		<% if current_user == post_comment.user %>
			    		    <%= link_to post_post_comment_path(@post,post_comment), method: :delete, data: {confirm: "コメントを削除しますか？"} do %>
		                        <i class="fas fa-trash-alt"></i>
		                    <% end %>
			    		<% end %>
			    	</td>
			    </tr>
		    <% end %>
		</table>
	</div>
</div>