<!DOCTYPE html>
<html>
  <head>
    <title>GoTo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--        ヘッダー        -->
    <header class="nav navbar-fixed-top">
      <div class="container">

        <nav class ="navbar navbar-expand navbar-dark bg-dark fixed-top">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><%= link_to ' Look', posts_path, class: "nav-link" %></li>
              <li><%= link_to ' My page', user_path(current_user), class: "nav-link" %></li>
              <li><%= link_to ' Write', new_post_path, class: "nav-link" %></li>
              <li><%= link_to ' Log out', destroy_user_session_path, method: :delet, class: "nav-link" %></li>

            <% else %>
              <li><%= link_to ' Login', new_user_session_path, class: "nav-link" %></li>

              <li><%= link_to ' Sign up', new_user_registration_path, class: "nav-link" %></li>

              <li><%= link_to ' About', homes_about_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

    <div class="body">

      <div class="container">
        <p id="notice"><%= notice %></p>

        <%= yield %>

      </div>

    </div>
  </body>
</html>
